<li class="list-group-item">
 {{checkbox-component checked=todo.isDone onUpdate=(action "toggleChecked") classNames="check"}}
  <a style="cursor: pointer;"
    class="{{if todo.isDone "isDone"}}" {{action "logOut"}}>{{todo.name}} </a>
  <button class="btn btn-danger {{unless todo.isDone "disabled"}} pull-right" {{action "deleteTodo" todo.id}} >Delete</button>
</li>

