<li class="list-group-item">
  {{checkbox-component checked=todo.attributes.isDone onUpdate=(action "toggleChecked") classNames="check"}}
  <a style="cursor: pointer;"
     class="{{if todo.attributes.isDone "isDone"}}" {{action "logOut"}}>{{todo.attributes.name}} </a>
  {{button-component value='Delete' classNames="pull-right" click=(action "deleteTodo" todo.id) disabled=(if todo.attributes.isDone false true)}}
</li>